*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shop{
    margin: 0 auto;
    padding: 10px;
    text-align: center;
  }
  .shop .ShopName{
    font-family: cursive;
  }
  .shop .ShopTable{
    border-collapse: collapse;
    border: 2px solid black;
    margin: 0px auto;
    text-align: left;
    width: 90%;
  }
  .shop .TableHead{
    font-weight: bold;
    text-align: center;
  }
  .shop td{
    border: 2px solid black;
    padding: 2px;
  }
  .deleteBtn{
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
  }
  .deleteBtn:hover{
    background: #a5a7a8;
    font-weight: 600;
    cursor: pointer;
  }
  .delete{
    text-align: center;
  }
